.what {
    flex-direction: column;
    font-weight: 900;
}

.question {
    font-family: 'Raleway', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.question img {
    height: 10rem;
    object-fit: contain;
}

.answer {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 1rem;
}

.whatiscss {
    width: 50%;
    height: fit-content;
    font-family: sans-serif;
    padding: 2rem;
    background-color: #1e202c;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

.whatiscss p {
    font-size: 1.1rem;
    font-weight: 400;
}

.desc {
    gap: 3rem;
}

.carFrame {
    mix-blend-mode: multiply;
    width: 25rem;
    height: 20rem;
    object-fit: contain;
}

.rainbow {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400%;
}

@media(width<600px) {
    .question {
        font-size: 4rem;
    }

    .question img {
        height: 5rem;
    }

    .answer {
        font-size: 1.5rem;
    }

    .whatiscss {
        width: 20rem;
    }

    .desc {
        flex-direction: column;
        gap: 1rem;
    }

    .carFrame {
        width: 18rem;
        height: 15rem;
    }
}

@keyframes rainbow_animation {
    0% {
        background-position: 0;
    }

    50% {
        background-position: 100%;
    }
}